 body {
        min-height: 100vh;
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.6)
          ),
          url("weather.png");
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
      }
      .container{
        background: url("globalMap.png");
      }
      .weather-card {
        max-width: 500px;
        margin: auto;
        margin-top: 60px;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
      }

      .weather-icon {
        font-size: 70px;
        color: #ffd43b;
      }

       .info-box {
        background: rgba(255, 255, 255, 0.15);
        padding: 15px;
        border-radius: 15px;
        margin-top: 10px;
      }
      .btn-primary:hover {
        transform: scale(1.05);
      }